@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1B1919;
    font-family: 'Marvel', sans-serif;
}

#menu-h{

    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px

}

input{
    width: 400px;
    height: 40px;
    border: 1px solid black;
    background-color: #CCB1B1;
    border-radius: 30px;
}
#logo{
    width: 290px;
    height: 150px;
}


li{ display: inline;
    list-style: none;
    padding: 20px;
    font-size: 1.3vw;
}
a:link{

    text-decoration: none;

}
a{
    color: #CCB1B1;
}

a:hover{

    color: #9C7575;
}
#titulo-principal{

    width: 100%;
    height: 150px;
    background-color: #CCB1B1;
    text-align: center;
    margin-bottom: 100px;

}
h1{
    font-size: 4vw;
    font-weight: normal;
}

#container{

    display: grid;
    width: 50%;
    margin: 0 auto;
    height: 1000px;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 80px 300px 80px 300px ;
    column-gap: 30px;
    row-gap: 30px;
    border-bottom: 50px;
   
  
}
main{

    background-image: url(imagens/fundo.png);
    
}

.titulo{

    background-color: #ccb1b18e;
    font-size: 50px;
    text-align: center;
    color: #CCB1B1;
   
}
.texto{
    background-color: #CCB1B1;
    text-align: left;
    font-size: 30px;   
    padding: 30px; 
}
#texto-2{

    grid-column: 2;
    grid-row: 2/5;
    font-size: 40px;
  
}

.texto, .titulo{

    border-radius: 10px;
}

#menu-rodape{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    background-color: rgb(36, 5, 5);
    flex-wrap: wrap;
    
    
}

.rodape{

    width: 300px;
    height: 150px;
    background-color: #CCB1B1;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.img-tamanho{

    width: 3vw;
    height: 3vw;

}

.conteudo{
    width: 90%;
    margin: 0 auto;
}


