@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1B1919;
    font-family: 'Marvel', sans-serif;
}

#menu-h{

    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px

}

input{
    width: 400px;
    height: 40px;
    border: 1px solid black;
    background-color: #CCB1B1;
    border-radius: 30px;
}
#logo{
    width: 290px;
    height: 150px;
}


li{ display: inline;
    list-style: none;
    padding: 20px;
    font-size: 1.3vw;
}
a:link{

    text-decoration: none;

}
a{
    color: #CCB1B1;
}

a:hover{

    color: #9C7575;
}

#Principal{

     width: 100%;
     height: 800px;

}

#menu-imagem{

    display: flex;
    margin: 0 auto;
    width: 100%;
    position: relative;
    
}
#menu-texto{

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 40%;
    position: absolute;
    width: 100%;
    color:#9C7575;
  

}
#texto-1{

    font-size: 3vw;
    
}

#texto-2{
    font-size: 2vw;
    text-align: center;
}


.seta{

    width: 60px;
    height: 60px;
    background-color: rgba(180, 138, 138, 0.5);
    border-radius: 90%;
}

#menu-container{

    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 600px;
    flex-wrap: wrap;
}
img{
    width: 19vw;
    height: 19vw;
    border-radius: 30px;
    
}

.img-borda{

    display: flex;
    width: 22vw;
    height: 22vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    


}

#menu-rodape{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    background-color: rgb(36, 5, 5);
    flex-wrap: wrap;
    
}

.rodape{

    width: 300px;
    height: 150px;
    background-color: #CCB1B1;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.img-tamanho{

    width: 3vw;
    height: 3vw;

}

.conteudo{
    width: 90%;
    margin: 0 auto;
}






