@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

*{
    padding: 20px;
    border:0;
    margin: 0;

}
body{
    background: linear-gradient(0deg, rgba(78, 36, 120, 0.2), rgba(78, 36, 120, 0.2)), linear-gradient(140.9deg, rgba(255, 255, 255, 0.2) 9.53%, rgba(255, 255, 255, 0) 28.32%), linear-gradient(220.59deg, rgba(32, 165, 207, 0.216) 19.23%, rgba(0, 209, 255, 0) 76.93%), radial-gradient(55.3% 91% at 74.06% 34.28%, #080F11 0%, #4C4C4C 18.9%, #4F4F4F 52.21%, #686868 100%);
    font-family: 'Raleway', sans-serif;
    color:white;
}

tr,td{

    
    width:"100%";
            
}

.nav{
    
    background: transparent;
    text-decoration: none;
    font-size: 25px;
    padding: 5%;
}

.nav:visited{

    color:white;
}
.nav:hover{

    color: #BEB5C6;
}

#cabecalho{

    display:inline-block;
    width: 90%;
    padding-top: 7%;
    text-align: right;
    border-bottom:1px solid white;
  
}

#Titulo{
    text-align: center;
    font-size: 45px;

}

#pequenininho{

    text-align: center;
    padding-bottom: 200px;
    padding-top: 0;
}

#recado{
    text-align: center;
    font-size: 25px;

}

#paragrafo1,#paragrafo2,#paragrafo3 {

    font-size: 20px;
     
}
#paragrafo2,#paragrafo3{

    border-left: 1px solid white;
}

